.valid{
    padding: 0px 3px 0px 3px;
    background-color: rgb(41, 152, 41);
    color: white;
    
}
.invalid{
    padding: 0px 3px 0px 3px;
    background-color: rgb(208, 53, 53);
    color: white;
    
}
td{
    text-align: left;
}
#timer{
    color: brown;
}
/* #submit{
    color:rgb(82, 184, 82)
} */
.login{
    background-color: rgb(247, 248, 236);
    margin-top: 4%;
}

/* navbar css starts here */

#navbar{
    display: flex;
    gap: 2%;
    border: 1px solid rgb(2, 2, 2);
    background-color: rgb(192, 212, 212);
    padding: 2px;
}

/* navbar css ends here */

#home{
    margin-top: 4%;
}